<ion-header>
  <ion-toolbar color="colorfav">
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" >

  <hr>
        <ion-item>
          <ion-label position="floating">Nombre y apellido</ion-label>
          <ion-input type=""></ion-input>  <!--ESTE DATO SE GUARDADARA CADA VES QUE SE OCUPE EL NOMBRE--> 
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Numero telefonico</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Fecha de cumpleaños</ion-label>
          <ion-input type="date"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <hr>

        <ion-button expand= "block"  (click)="guardar_usuario()" >Guardar usuario </ion-button> <!--BOTON FALSO-->
        <ion-button expand= "block"  (click)="pagina_inicio()" >Pagina de inicio</ion-button>

    
</ion-content>