<ion-app>  
  <ion-menu  side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title > Menu  </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item>datos del usuario</ion-item>
        <ion-item>Ubicacion</ion-item>
        <ion-item>Pagos</ion-item>
        <ion-item [routerLink]="['/home']">Cerrar sesion</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content> 
  </ion-menu>
  <ion-router-outlet id="main" ></ion-router-outlet>
</ion-app>

